@using Microsoft.AspNetCore.Mvc.Localization
@using Socs.Theme.Playground.Localization
@inject IHtmlLocalizer<PlaygroundResource> L
<a class="btn" role="button" href="~/Account/Login"><i class="fa fa-sign-in me-1"></i> @L["Login"]</a>
